# path:   /home/klassiker/.local/share/repos/suspend/suspend@.service
# author: klassiker [mrdotx]
# github: https://github.com/mrdotx/suspend
# date:   2022-03-07T08:35:04+0100

[Unit]
Description=lock x session using i3_exit for user %i
Before=sleep.target

[Service]
User=%i
Type=forking
Environment=DISPLAY=:0
# for changed xauthority file environment
Environment=XAUTHORITY=/home/%i/.local/share/xorg/Xauthority
ExecStart=/home/%i/.local/share/repos/i3/i3_exit.sh --lock

[Install]
WantedBy=sleep.target
