[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/klassiker/projects/shell/knockout.sh -lock simple

[Install]
WantedBy=sleep.target
